<div ng-controller="FeedCtrl">
    <div class="row" ng-init="number = 0">
        <div class="col-lg-8">
            <h1 style="color:#02baf2; margin-left: -5px;">Your Updates: <small>(cluster {{ number + 1 }})</small></h1>
            <div ng-repeat="(key, value) in articles" style="margin-top:40px; margin-bottom:40px">
                <div class="media-left">
                    <div class="media-object"><img src="{{ value.thumbnail }}" style="border-bottom: 4px solid #0FC7FF;"></div>
                </div>
                <div class="media-body">
                    <h1 class="media-heading" style="font-size:25px"><a ng-href="{{ value.url }}" target="_blank" class="article">{{ value.headline }}</a></h1>
                    <p style="font-size:17px">{{ value.summary }}</p>
                    <span style="color:#b2c6cd">{{ value.date }}</span>
                    <span style="margin-left:2em; color:#02baf2; font-size: 20px" ng-class="{'fa fa-smile-o': value.sentiment == 'positive', 'fa fa-frown-o': value.sentiment == 'negative', 'fa fa-circle-thin': value.sentiment == 'neutral' }"></span>
                </div>
            </div>
            <a class="btn btn-default btn-md" scroll-to="top" ng-click="load_more()">Load More</a>
        </div>
        <div class="col-lg-4">
            <h1 style="color:#02baf2;margin-bottom:20px; margin-top:30px;">Timeline:</h1>
            <div ng-repeat="article in articles | orderBy: 'created_at':true | limitTo:4">
                <div class="panel panel-default" style="margin-bottom:10px; border-left: 2px solid #f84545;">
                    <div class="panel-body">
                        <h5 style="color:#b2c6cd"><span class="fa fa-clock-o" style="font-size: 25px; color:#f84545"></span> {{ article.date }}</h5>
                        <h6 style="padding-left:1.2em;"><a ng-href="{{ article.url }}" target="_blank" class="article">{{ article.headline }}</a></h6>
                    </div>
                </div>
                <div class="text-center" style="margin-bottom:10px">
                    <span style="font-size:25px; color:#b2c6cd;" class="fa fa-arrow-circle-o-down"></span>
                </div>
            </div>
        </div>
    </div>
</div>