<div class="row">
    <div ng-show="profile.name">
        <h1>{{ profile.name }} <small>({{ profile.email }})</small></h1>
        <ul style="padding-left:0px; margin-top:20px;">
            <li ng-repeat="issue in profile.issues" class="label label-primary" style="margin-left:1em; margin-right:1em">{{ issue }}</li>
        </ul>
    </div>
    <div ng-hide="profile.name">
        <h1>Welcome to Issue mail!</h1>
        <button ui-sref="auth.welcome" class="btn btn-stroke btn-md">Create Profile</button>
    </div>
    <button style="margin-top:20px" ui-sref="auth.welcome" class="btn btn-default btn-md">Edit</button>
</div>